.article{
    display: grid;
    grid-template-columns: 1fr;
    gap:20px;
}
.articleEntrance{
    display: flex;
    height: 4em;
    width: 90%;
    padding: 1em 5%;
    background-color: #f0f0f0;
    box-shadow: 5px 5px #00000022;
    align-items: center;
}
.articleEntrance:hover{
    background-color: #e8e8e8;
}
.articleTitle{
    height: 2em;
    align-items: center;
    flex:0 0 0;
    text-align: left;
    display: flex;
    font-size: 2em;
    font-weight: 900;
    color:#000;
    text-shadow: 3px 3px #00000011;
    padding-right: 20px;
    border-right: 2px #888 solid;
    margin-right: 20px;
    min-width: 20%;
    overflow-x: hidden;
}
.articlePreview{
    flex:1 0 0;
    height: 90%;
    text-align: left;
    display: block;
    font-size: 0.8em;
    font-weight: 900;
    color:#888;
    text-shadow: 3px 3px #00000011;
    filter: blur(2.2px);
    overflow-y: hidden;
    animation: none;
    animation-play-state: paused;
}
@keyframes clearify {
    to{
        filter: blur(0);
    }
}
.clearText{
    filter: blur(0);
    animation: clearify 0.2s forwards;
    animation-play-state: running;
}
.articleInfo{
    flex:1 0 0;
    text-align: right;
    display: block;
    font-size: 1em;
    font-weight: 400;
    color:#888;
    text-shadow: 3px 3px #00000011;
}

.cover{
    position: fixed;
    height: 300dvh;
    width: 100dvw;
    top:0;
    left: 0;
    background-color: #00000022;
    z-index: 20;
    backdrop-filter: blur(3px);
}
#forArticle{
    position: absolute;
    top:0;
    left: 0;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.articleDetail{
    top:5dvh;left: 10dvw;
    position: fixed;
    width: 70dvw;
    height: 80dvh;
    background-color: #f8f8f8;
    z-index: 25;
    overflow-y: auto;
    font-family: 'Segoe UI';
    padding: 0 5dvw;
    box-shadow: 15px 15px 3px 2px #00000033;
}
.center{
    text-align: center;
    color: #888;
}
.time{
    color: #448;
    text-align: center;
}
.auth{
    color: #484;
    text-align: center;
}
.infos{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
    width: 90%;
    background-color: #ccc;
    padding: 0 5%;
}
h2{
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}
.black{
    color: #000;
}
@media screen and (max-width:767px) {
    .articleEntrance{
        display: block;
        height: max-content;
    }
    .articleTitle{
        width: fit-content;
        flex-grow: 1;
        border-right: none;
    }
    .articlePreview{
        filter: none;
    }
}
@media screen and (min-width:768px) {
    .articleEntrance{
        display: block;
        height: max-content;
    }
}